In [42]:
import requests
import base64
import json
import binascii

In [43]:
args = {
    "tradingName": "ABEV",
    "language": "pt-br",
    "pageNumber": 1,
    "pageSize": 9999,
}
params = json.dumps(args).replace(" ", "").strip()
print(params)
params_enc = binascii.b2a_base64(bytes(params, "utf8"), newline=False).decode("utf8").strip()

# params_enc = "eyJ0cmFkaW5nTmFtZSI6IkFCRVYiLCJsYW5ndWFnZSI6InB0LWJyIiwicGFnZU51bWJlciI6MSwicGFnZVNpemUiOjk5OTl9"

url = f"https://sistemaswebb3-listados.b3.com.br/listedCompaniesProxy/CompanyCall/GetListedCashDividends/{params_enc}"

requests.get(url, verify=True)

{"tradingName":"ABEV","language":"pt-br","pageNumber":1,"pageSize":9999}

In [36]:
print(params_enc)

eyJ0cmFkaW5nTmFtZSI6IkFCRVYiLCJsYW5ndWFnZSI6InB0LWJyIiwicGFnZU51bWJlciI6MSwi
cGFnZVNpemUiOjk5OTl9

In [30]:
print("eyJ0cmFkaW5nTmFtZSI6IkFCRVYiLCJsYW5ndWFnZSI6InB0LWJyIiwicGFnZU51bWJlciI6MSwicGFnZVNpemUiOjk5OTl9")

eyJ0cmFkaW5nTmFtZSI6IkFCRVYiLCJsYW5ndWFnZSI6InB0LWJyIiwicGFnZU51bWJlciI6MSwicGFnZVNpemUiOjk5OTl9

In [41]:
import binascii


binascii.b2a_base64(bytes(params, "utf8"), newline=False).decode("utf8").strip()

'eyJ0cmFkaW5nTmFtZSI6IkFCRVYiLCJsYW5ndWFnZSI6InB0LWJyIiwicGFnZU51bWJlciI6MSwicGFnZVNpemUiOjk5OTl9'

In [1]:
import json
import pandas as pd

In [2]:
with open('../data/CDIIDI.json') as fp:
    data = json.loads(fp.read())

In [3]:
data.keys()

dict_keys(['taxa', 'dataTaxa', 'indice', 'dataIndice'])

In [4]:
data

{'taxa': '11,65',
 'dataTaxa': '14/04/2022',
 'indice': '34.679,17',
 'dataIndice': '18/04/2022'}

In [9]:
pd.DataFrame(data, index=[0])

    taxa    dataTaxa     indice  dataIndice
0  11,65  14/04/2022  34.679,17  18/04/2022

In [37]:
data['header']

{'update': '2022-01-25', 'startMonth': 1, 'endMonth': 4, 'year': 2022}

In [6]:
df = pd.DataFrame(data['results'])

In [7]:
df

,company,spotlight,code,indexes
0,3M,DRN,MMMC34,BDRX
1,3R PETROLEUM,ON NM,RRRP3,"IBOV,IBRA,IBXX,IGCT,IGCX,IGNM,ITAG,SMLL"
2,3TENTOS,ON NM,TTEN3,"IBRA,ICON,IGCT,IGCX,IGNM,ITAG,SMLL"
3,AB INBEV,DRN,ABUD34,BDRX
4,ABB LTD,DRN,A1BB34,BDRX
...,...,...,...,...
647,WIX.COM LTD,DRN,W1IX34,BDRX
648,WIZ S.A.,ON NM,WIZS3,"GPTW,IBRA,IDIV,IGCT,IGCX,IGNM,ITAG,SMLL"
649,YDUQS PART,ON NM,YDUQ3,"IBOV,IBRA,IBXX,ICON,IGCT,IGCX,IGNM,ITAG,SMLL"
650,ZOETIS INC,DRN,Z1TS34,BDRX
651,ZOOM VIDEO,DRN,Z1OM34,BDRX

In [9]:
len(df['code'].unique())

652

In [12]:
df[df['indexes'] == 'BDRX'].shape

(257, 4)

In [13]:
df[df['indexes'] != 'BDRX'].shape

(395, 4)

In [14]:
df[df['indexes'] != 'BDRX']

,company,spotlight,code,indexes
1,3R PETROLEUM,ON NM,RRRP3,"IBOV,IBRA,IBXX,IGCT,IGCX,IGNM,ITAG,SMLL"
2,3TENTOS,ON NM,TTEN3,"IBRA,ICON,IGCT,IGCX,IGNM,ITAG,SMLL"
7,ABC BRASIL,PN N2,ABCB4,"IBRA,IDIV,IFNC,IGCT,IGCX,ITAG,SMLL"
14,AERIS,ON NM,AERI3,"GPTW,IBRA,IGCT,IGCX,IGNM,INDX,ITAG,SMLL"
15,AES BRASIL,ON NM,AESB3,"IBRA,IEEX,IGCT,IGCX,IGNM,ISEE,ITAG,SMLL,UTIL"
...,...,...,...,...
642,WEG,ON NM,WEGE3,"IBOV,IBRA,IBXL,IBXX,ICO2,IGCT,IGCX,IGNM,INDX,I..."
645,WESTWING,ON NM,WEST3,"IBRA,IGCT,IGCX,IGNM,ITAG,SMLL"
646,WILSON SONS,ON NM,PORT3,"IGCX,IGNM,ITAG"
648,WIZ S.A.,ON NM,WIZS3,"GPTW,IBRA,IDIV,IGCT,IGCX,IGNM,ITAG,SMLL"
649,YDUQS PART,ON NM,YDUQ3,"IBOV,IBRA,IBXX,ICON,IGCT,IGCX,IGNM,ITAG,SMLL"

In [16]:
df['indexes'].str.split(',')

0                                                 [BDRX]
1       [IBOV, IBRA, IBXX, IGCT, IGCX, IGNM, ITAG, SMLL]
2             [IBRA, ICON, IGCT, IGCX, IGNM, ITAG, SMLL]
3                                                 [BDRX]
4                                                 [BDRX]
                             ...
647                                               [BDRX]
648     [GPTW, IBRA, IDIV, IGCT, IGCX, IGNM, ITAG, SMLL]
649    [IBOV, IBRA, IBXX, ICON, IGCT, IGCX, IGNM, ITA...
650                                               [BDRX]
651                                               [BDRX]
Name: indexes, Length: 652, dtype: object

In [34]:
def _(dfx):
    indexes = dfx['indexes'].str.split(',').explode()
    return pd.DataFrame({
        'company': dfx['company'],
        'spotlight': dfx['spotlight'],
        'code': dfx['code'],
        'indexes': indexes,
    })

dfr = df.groupby(['company', 'spotlight', 'code']).apply(_).reset_index(drop=True)

In [40]:
dfr['refdate'] = data['header']['update']
dfr['duration_start_month'] = data['header']['startMonth']
dfr['duration_end_month'] = data['header']['endMonth']
dfr['duration_year'] = data['header']['year']
dfr

,company,spotlight,code,indexes,refdate,duration_start_month,duration_end_month,duration_year
0,3M,DRN,MMMC34,BDRX,2022-01-25,1,4,2022
1,3R PETROLEUM,ON NM,RRRP3,IBOV,2022-01-25,1,4,2022
2,3R PETROLEUM,ON NM,RRRP3,IBRA,2022-01-25,1,4,2022
3,3R PETROLEUM,ON NM,RRRP3,IBXX,2022-01-25,1,4,2022
4,3R PETROLEUM,ON NM,RRRP3,IGCT,2022-01-25,1,4,2022
...,...,...,...,...,...,...,...,...
2468,YDUQS PART,ON NM,YDUQ3,IGNM,2022-01-25,1,4,2022
2469,YDUQS PART,ON NM,YDUQ3,ITAG,2022-01-25,1,4,2022
2470,YDUQS PART,ON NM,YDUQ3,SMLL,2022-01-25,1,4,2022
2471,ZOETIS INC,DRN,Z1TS34,BDRX,2022-01-25,1,4,2022
2472,ZOOM VIDEO,DRN,Z1OM34,BDRX,2022-01-25,1,4,2022

In [1]:
import sys
sys.path.insert(0, '..')

from kyd.parsers.anbima import AnbimaDebentures

deb = AnbimaDebentures('../data/deb_2021-04-20.txt')

In [2]:
df = deb.data

In [3]:
df

,symbol,name,maturity_date,underlying,bid_yield,ask_yield,ref_yield,price,perc_price_par,duration,perc_reune,ref_ntnb,refdate
0,ALSCA0,ALIANSCE SONAE SHOPPING CENTER S/A (*),2023-09-15,110% do DI,125.7619,122.785,123.8620,NaN,NaN,NaN,NaN,None,2021-04-20
1,AMPLA0,AMPLA ENERGIA E SERVIÇOS S/A (*),2024-03-15,108% do DI,127.2385,120.4444,124.1191,978.146777,97.550163,564.82,NaN,None,2021-04-20
2,BRML17,BR MALLS PARTICIPAÇÕES S/A (*),2025-03-11,"107,5% do DI",124.6151,121.4285,123.1240,9626.591287,95.991375,863.50,NaN,None,2021-04-20
3,BSA312,"B3 S/A - BRASIL, BOLSA, BALCÃO (*) (**)",2022-05-03,"102,8% do DI",129.7504,122.4282,127.9462,9963.089620,98.690110,254.61,NaN,None,2021-04-20
4,CBRDA6,COMPANHIA BRASILEIRA DE DISTRIBUIÇÃO (*) (**),2021-09-10,"162,71% do DI",132.1536,124,130.1143,1009.549332,100.507274,100.00,NaN,None,2021-04-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
525,VLIO11,VLI OPERACOES PORTUARIAS S/A,2021-08-15,"IPCA + 6,0500%",0.9068,0.3652,0.7968,1270.884952,101.666888,82.00,NaN,2022-08-15,2021-04-20
526,VNTT11,VENTOS DE SÃO TITO HOLDING S/A,2028-06-15,"IPCA + 9,2360%",8.0168,6.673,7.4670,1034.560334,106.054166,916.77,NaN,2025-05-15,2021-04-20
527,VOES16,CONC. DE ROD. DO OESTE DE SP - VIAOESTE S/A (*),2021-11-15,"IPCA + 6,2959%",1.6093,0.7842,1.2885,1257.677653,102.723202,140.36,NaN,2022-08-15,2021-04-20
528,VPLT12,VIAPAULISTA S.A.,2027-06-15,"IPCA + 3,9407%",4.3572,4.0585,4.1606,1008.504632,99.356190,769.31,NaN,2024-08-15,2021-04-20
529,VRDN12,VIARONDON CONCESSIONÁRIA DE RODOVIA S/A,2034-12-15,"IPCA + 5,5500%",5.9191,5.603,5.6921,1070.533245,99.035982,1812.03,NaN,2030-08-15,2021-04-20